$font-family: 'Work Sans', sans-serif;
$font-variant-base: 'normal';
$font-feature-settings-base: 'normal';
$secondary-color: #e7e6ff;
$primary-color: #0a6cff;
$link-color: #0a6cff;
$success-color: #22b02e;
$warning-color: #ff7a17;
$error-color: #c5292a;
$heading-color: #1b2124;
$text-color: #1b2124;
$text-color-secondary: #8d9091;
$border-radius-base: 4px;
$border-color-base: #efefef;
$typography-title-margin-top: 0;
$typography-title-margin-bottom: 0;
$form-item-margin-bottom: 0;
$form-vertical-label-padding: 0 0 2px;
$checkbox-border-radius: 4px;
$notification-padding-horizontal: 16px;
